<div class="card mb-2 highlight-card container-fluid">
    <div class="row g-0 highlight-card-row justify-content-space-between">
        <div class="col-3 highlight-card-thumbnail-col">
            <a href="{{ post.link }}">
                <img src="{{ post.thumbnail.src('thumbnail') }}"
                    class="img-fluid featured-list-image" />
            </a>
        </div>
        <div class="col-9 highlight-card-text-col">
            <div class="card-body featured-list-card-body">
                <a href="{{ post.link }}">
                    <h6>
                        {{ post.title }}
                    </h6>
                </a>
                <p>
                    {{ post.preview.read_more(false).length(20) }}
                </p>
            </div>
        </div>
    </div>
</div>
