<div class="post-tile">
  {% if not category and header_fallback %}
    {% set category = {
      name: 'Vikalp Sangam'
    } %}
  {% endif %}

  {% if category %}
    {% include 'partials/_term-header.twig' with {
      term: category
    } only %}
  {% endif %}

  <a href="{{ post.link }}">
    <img src="{{ post.thumbnail.src('large') }}" class="post-tile__image" />
  </a>

  <div class="post-tile__body">
    <a href="{{ post.link }}">
      <h6 class="post-tile__title">
        {{ post.title }}
      </h6>
    </a>
    <p class="post-tile__text">
      {{ post.preview.read_more(false).length(20) }}
    </p>
  </div>
</div>
