{% extends "base-content.twig" %}

{% set page_id = 'page-single' %}

{% block content %}
	<h2 class="post-title">{{ post.title }}</h2>
	<div id="author-date-category">

		{% set author = post.meta("author") %}

		{% if author %}
			<span class="author">By
				{{ author }}
			</span>
		{% else %}
			<span>Posted</span>
		{% endif %}

		<span class="text">on</span>
		<span class="date">{{ post.date('M. d, Y') }}</span>

		{% if post.categories %}
			<span class="text">in</span>
			<a href="{{ post.categories[0].link }}">{{ post.categories[0].name }}</a>
		{% endif %}
	</div>
	<article id="post-{{post.id}}" class="{{post.class}}">
		{{ post.content }}
	</article>

	<div id="story-tags">
		Story Tags:

		{% for tag in post.tags %}
			<a href="{{ tag.link }}" rel="tag">{{ tag.name }}</a>
			{% if not loop.last %}
				<span>,</span>
			{% endif %}

		{% endfor %}
	</div>

	<hr/>

	<div class="row">
		{% include "partials/_comments.twig" %}
	</div>

{% endblock %}
