<!DOCTYPE html>
{% set page_id = 'page-map' %}

<html lang="en">
	{% include 'partials/_head.twig' %}
	<body id={{page_id}} class="{{body_class}}">
		{{ function("wp_body_open") }}
		{% include 'partials/_nav.twig' %}
		<div class="content">
			<div class="left">
				{% verbatim %}
					<div id="large-map">
						<l-map ref="map" :center="center" :zoom="zoom" @ready="onMapReady()">
							<l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
							<div v-for="coordinate in coordinates" :key="coordinate.id">
								<l-marker v-if="showMarker(coordinate)" :icon="getIcon(coordinate)" :lat-lng="[coordinate.latitude, coordinate.longitude]">
									<l-popup>
										<div class="card post-tile-card">

											<a :href="coordinate.url">
												<img v-lazy="coordinate.thumbnail" class="card-img-top popup-image    ">
											</a>

											<div class="card-body">
												<a :href="coordinate.url">
													<h6 class="card-title popup-title">{{ coordinate.title }}</h6>
												</a>
												<p class="card-text post-tile-text">{{ coordinate.excerpt }}</p>
											</div>
											<footer class="card-footer d-flex justify-content-end p-0">
												<a :href="coordinate.url" class="btn btn-primary btn-sm">Read More</a>
											</footer>
										</div>


									</l-popup>
								</l-marker>
							</div>
							<l-control position="bottomright">
								<div class="category-list">
									<a class="category-list-header" data-toggle="collapse" href="#categories">
										<img class="category-list-header-image" src="/wp-content/uploads/migrate/VS-Favicon.png">
										<p>Filter by category</p>
										<h5 class="ml-2 mb-0 text-primary">
											<i class="fas fa-angle-up collapse-icon"></i>
										</h5>
									</a>

									<div id="categories" class="collapse show" ref="categories">
										<button :key="category.cat_ID" v-on:click="selectCategory(category)" v-for="(category) in categories" v-bind:class="[{ selected: category.cat_ID === selectedCategory }, 'category'] " :style="getCategoryStyle(category)">
											<div class="bullet"></div>
											{{ category.name }}
										</button>
									</div>

								</div>
							</l-control>
						</l-map>
						<div v-if="!coordinates.length" class="loading-overlay">
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
					</div>
					<script>
						renderMap()
					</script>
				{% endverbatim %}
			</div>
			<div class="right"></div>
		</div>
	</body>
</html>
