{% extends 'layouts/_base-content.twig' %}

{% set page_class = 'page-search' %}

{% block content %}
  <h4 class="page-search__title">
    Found {{ found_posts }} results for your query: {{ search_query }}
  </h4>
  <div class="page-search__result-list">
    {% for post in posts %}
      <div class="page-search__result">
        <h5>
          <a class="page-search__result-title" href="{{ post.link }}">
            {{ post.title }}
          </a>
        </h5>

        {{ post.preview.read_more(false).length(20) }}
      </div>
    {% endfor %}
  </div>

  {{ function('the_posts_navigation') }}
{% endblock %}
